[Unit]
Description=MATE polkit authentication agent
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target
ConditionEnvironment=XDG_CURRENT_DESKTOP=hyprland:Hyprland

[Service]
Type=simple
ExecStart=/usr/libexec/polkit-mate-authentication-agent-1
Restart=on-failure
RestartSec=2
Slice=session.slice

[Install]
WantedBy=graphical-session.target
