[Unit]
Description=SwayOSD on-screen-display server
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target
ConditionEnvironment=|XDG_CURRENT_DESKTOP=Hyprland
ConditionEnvironment=|XDG_CURRENT_DESKTOP=niri

[Service]
Type=simple
ExecStart=/usr/bin/swayosd-server
Restart=on-failure
RestartSec=2
Slice=session.slice

[Install]
WantedBy=graphical-session.target
