[Unit]
Description=Restore last waypaper-selected wallpaper
PartOf=graphical-session.target
After=awww.service
Requires=awww.service
ConditionEnvironment=|XDG_CURRENT_DESKTOP=Hyprland
ConditionEnvironment=|XDG_CURRENT_DESKTOP=niri

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/waypaper --restore
Slice=session.slice

[Install]
WantedBy=graphical-session.target
