[Unit]
Description=wired notification daemon
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target
ConditionEnvironment=XDG_CURRENT_DESKTOP=Hyprland

[Service]
Type=simple
ExecStart=/home/jo/.cargo/bin/wired
Restart=on-failure
RestartSec=2
Slice=session.slice

[Install]
WantedBy=graphical-session.target
